.container{
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    width: 32px;
    height: 32px;
    line-height: 1;
    margin-right: 16px;
  }
  .text {
    font-size: 2rem;
    font-weight: bold;
    color: #f7f7f7;
    line-height: 1;
    text-align: center;
  }
}