// .container {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
// }
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 64px;
  color: #ccc;
  .left {
    height: 100%;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    
  }
  .right {
    display: flex;
  }
}

// .main {
//   // flex: 1;
//   // background-color: white;
//   // display: flex;
//   // flex-direction: column;
//   height: calc(100vh - 64px - 64px);
// }

.footer {
  height: 64px;
  text-align: center;
}